footer.mdl-mini-footer

  .mdl-mini-footer__left-section
    .mdl-logo &copy; Chad Schmidt

  .mdl-mini-footer__right-section
    ul.mdl-mini-footer__link-list
      li: router-link(to='/help') Help
      li: router-link(to='/agreement') Privacy &amp; Terms