header.mdl-layout__header.mdl-color--grey-800
  .mdl-layout__header-row
    span.mdl-layout-title Insulin Calculator
  
.mdl-layout__drawer.mdl-color--grey-200.mdl-color-text--grey-900
  span.mdl-layout-title Insulin Calculator
  nav.mdl-navigation
    router-link.mdl-navigation__link(to='/') Calculator
    router-link.mdl-navigation__link(to='/settings') Settings
